<h1>{{ title() }}</h1>
<p>Ejercicio de practica sobre los formularios reactivos built with Angular's v21.2.18 version .</p>
<hr />
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input type="text" id="name" placeholder="Type your name here" formControlName="name" />
  @if (
    userForm.controls.name.invalid &&
    (userForm.controls.name.dirty || userForm.controls.name.touched)
  ) {
    @if (userForm.controls.name.hasError('required')) {
      <span [ngStyle]="{ color: 'red' }">El nombre es requerido</span>
    }
  }
  <label for="email">Email:</label>
  <input type="email" id="email" placeholder="Type your email here" formControlName="email" />
  @if (
    userForm.controls.email.invalid &&
    (userForm.controls.email.dirty || userForm.controls.email.touched)
  ) {
    @if (userForm.controls.email.hasError('required')) {
      <span [ngStyle]="{ color: 'red' }">El email es requerido</span>
    }
    @if (userForm.controls.email.hasError('email')) {
      <span [ngStyle]="{ color: 'red' }">El email no es válido</span>
    }
  }

  <fieldset formGroupName="address">
    <legend>Address</legend>
    <label for="street">Street:</label>
    <input id="street" type="text" formControlName="street" />

    <label for="city">City:</label>
    <input id="city" type="text" formControlName="city" />

    <label for="zipCode">Zip code:</label>
    <input id="zipCode" type="text" formControlName="zipCode" />
  </fieldset>

  <fieldset formArrayName="phones">
    <legend>Phones</legend>
    @for (phone of phones.controls; track $index; let i = $index) {
      <label for="phone-{{ i }}">Phone {{ i }}</label>
      <input id="phone-{{ i }}" type="tel" [formControlName]="i" />
      <button type="button" (click)="removePhone(i)">Remove</button>
    }
    <br />
    <button type="button" (click)="addPhone()">Add new phone</button>
  </fieldset>

  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form>

<button type="button" (click)="loadUser()">Load full user</button>
<button type="button" (click)="changeEmail()">Change email</button>
