/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-color: #f0ede4;
  color: #004741;
  font-family: 'IBM Plex Sans', sans-serif;
}
